.container {
  --primary: red;
  --primary-hover: yellow;
  --primary-pressed: blue;

  --disabled: rgb(128, 128, 128);

  --secondary: magenta;

  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--color-grey-300);

  .content {
    width: 100%;

    & > header {
      padding: 32px;
    }

    & > main {
      padding: 32px;
    }
  }
}

.button {
  width: fit-content;
  height: 40px;

  border-radius: 8px;
  background-color: var(--color-primary-main);
  border: none;
  outline: none;
  padding: 6px 12px;
  font-weight: 700;

  color: var(--color-text-main);
  // box-shadow: inset 0 0 0 2px var(--primary);

  transition: 0.12s ease;

  &:disabled {
    color: var(--color-text-light);
    background-color: var(--disabled);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-light);
    }

    &:active {
      background-color: var(--color-primary-main);
    }
  }
}
