@use './sass.scss' as map;



*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}


.container {
    --primary: red;
    --primary-hover: yellow;
    --primary-pressed: blue;

    --disabled: rgb(128, 128, 128);


    --secondary: magenta;


    @each $colorName, $colorValues in map.$map {
        @each $valueName, $value in $colorValues {
            --color-#{$colorName}-#{$valueName}: #{$value};     
        }
    }

    display: flex;
    width: 100%;
    height: 100vh;

    & > aside{
        flex-shrink: 0;
        min-width: 384px;
        min-height: 100vh;
        background-color: var(--color-white-semi);
    }

    .content {
        width: 100%;

        & > header {
            padding: 32px;
        }

        & > main {
            padding: 32px;
        }

    }

}

.button {
    width: fit-content;
    height: 40px;

    border-radius: 8px;
    background-color: var(--color-white-semi);
    border: none;
    outline: none;
    padding: 6px 12px;

    color: var(--primary);
    box-shadow: inset 0 0 0 2px var(--primary);

    transition: 0.12s ease;

    &:disabled {
        color: var(--disabled);
        box-shadow: inset 0 0 0 2px var(--disabled);
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            color: var(--primary-hover);
            box-shadow: inset 0 0 0 2px var(--primary-hover);
        }
    
        &:active {
            color: var(--primary-pressed);
            box-shadow: inset 0 0 0 2px var(--primary-pressed);
        }
    }

    
}